<div class="content-container">
    <div class="cards-container">
        <app-club-card></app-club-card>
        <app-club-card></app-club-card>
        <app-club-card></app-club-card>
        <app-club-card></app-club-card>
        <app-club-card></app-club-card>
        <app-club-card></app-club-card>
        <app-club-card></app-club-card>
        <app-club-card></app-club-card>
        <app-club-card></app-club-card>
    </div>
    <!--
    <div class="club-info-container" *ngIf="infoPanelVisible">
        <app-club-info-panel></app-club-info-panel>
    </div>
    -->
</div>
