.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;

    .navbar-container {
        flex-shrink: 0;
        height: 8%;
        max-height: 8%;
    }

    .content-container {
        display: flex;
        flex: 2;
        flex-direction: row;
        max-height: 92%;

        .left {
            background-color: #CCCCCC;
            width: 20%;
        }

        .right {
            flex: 2;
        }
    }
}