nav {
    /*background-color: #001261;*/
    background-color: green;
    height: 100%;
    padding: 0px;

    .form-container {
        display: flex;
        flex-grow: 2;
        height: 100%;
    
        .search-bar-container {
            align-content: center;
            padding: .5rem;
            padding-left: 1rem;
            width: 50%;
    
            input{
                border: none;

                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }
        }

        .dropdown-container {
            display: flex;

            .dropdown {
                display: flex;

                > button {
                    background: none;
                    border: none;
                    border-radius: 0px;

                    &:focus {
                        outline: none;
                        box-shadow: none;
                    }

                    &:hover {
                        background-color: #71799e;
                    }
                }

                .dropdown-menu {
                    border-top: none;
                    border-top-left-radius: 0px;
                    border-top-right-radius: 0px;
                    margin: 0px;
                    width: max-content;

                    form {
                        padding: 0rem 1rem;
                    }

                    ul {
                        margin: 0px;
                        padding: 0px;

                        li {
                            display: block;

                            .checkbox {
                                margin-right: .75rem;
                            }
                        }
                    }
                }
            }
        }       
    }
}