form {
    .search-bar-container {
        align-content: center;
        display: flex;
        padding: 1rem;

        .search-bar {
            background: none;
            border: none;
            border-bottom: 3px solid black;
            color: black;
        }
    }

    .card {
        background-color: #333;
        border-radius: 0px;

        .card-header {
            padding: 1rem;

            h5 {
                button {
                    color: #fff;
                    padding: 0px;
                }
            }
        }
    }

    .card-body {
        background-color: #eee;

        ul {
            margin: 0px;
            padding: 0px;

            li {
                display: block;

                .checkbox {
                    margin-right: .75rem;
                }

                label {
                    margin-bottom: .25rem;
                }
            }
        }
    }
}