<nav class="navbar">
    <form class="form-container">
        <div class="search-bar-container input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">
                    <img src="/assets/img/search.svg">
                </span>
            </div>
            <input type="text" class="form-control" placeholder="Search organizations" aria-label="SearchOrganizations" aria-describedby="basic-addon1">
        </div>

        <div class="dropdown-container">
            <div class="categories-container dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Categories
                </button>
                <div class="dropdown-menu">
                    <form>
                        <ul>
                            <li>
                                <input class="checkbox" type="checkbox" name="academic" value="academic">
                                <label for="academic">Academic</label>
                            </li>
                            <li>
                                <input class="checkbox" type="checkbox" name="advocacy" value="advocacy">
                                <label for="advocacy">Advocacy</label>
                            </li>
                            <li>
                                <input class="checkbox" type="checkbox" name="art" value="Arts & Literature">
                                <label for="art">Arts & Literature</label>
                            </li>
                            <li>
                                <input class="checkbox" type="checkbox" name="competitive" value="competitive">
                                <label for="competitive">Competitive Club Sports</label>
                            </li>
                            <li>
                                <input class="checkbox" type="checkbox" name="cultural" value="cultural">
                                <label for="cultural">Ethnic & Cultural</label>
                            </li>
                            <li>
                                <input class="checkbox" type="checkbox" name="greek" value="greek">
                                <label for="greek">Greek Life</label>
                            </li>
                            <li>
                                <input class="checkbox" type="checkbox" name="honorary" value="honorary">
                                <label for="honorary">Honorary</label>
                            </li>
                            <li>
                                <input class="checkbox" type="checkbox" name="recreation" value="recreation">
                                <label for="recreation">Recreational Club Sport</label>
                            </li>
                            <li>
                                <input class="checkbox" type="checkbox" name="service" value="service">
                                <label for="service">Service</label>
                            </li>
                            <li>
                                <input class="checkbox" type="checkbox" name="special" value="special">
                                <label for="special">Special Interest</label>
                            </li>
                            <li>
                                <input class="checkbox" type="checkbox" name="spiritual" value="spiritual">
                                <label for="spiritual">Spirituality & Faith</label>
                            </li>
                            <li>
                                <input class="checkbox" type="checkbox" name="government" value="government">
                                <label for="government">Student Government</label>
                            </li>
                            <li>
                                <input class="checkbox" type="checkbox" name="university" value="university">
                                <label for="university">University Program</label>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
            <div class="sort-container dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sort
                </button>
                <div class="dropdown-menu">
                    <form>
                    </form>
                </div>
            </div>
        </div>
    </form>
</nav>
