.navbar {
    border: 1px solid blue;
    height: 100%;

    a {
        background-color: #AAAAAA;
        display: inline-block;
        height: 100%;
        width: auto;
        margin: 0px 10px;
    }
}