.navbar {
    background-color: #000;
    height: 100%;
    padding: 0px;

    ul {
        height: 100%;
        margin: 0;
        padding: 0;

        li {
            display: inline-block;
            height: 100%;

            a {
                align-items: center;
                display: flex;
                color: #fff;
                height: 100%;
    
                &:hover {
                    background-color: #444;
                    cursor: pointer;
                }

                span {
                    margin: 0rem 1rem;
                }
            }
        }
    }
}